<p id="notice"><%= notice %></p>
<h1 class="text-center">User Settings</h1>
<h3>Customer Multipliers</h3>
<table class="table table-bordered">
  <tr>
    <th>Category</th>
    <th>Multiplier</th>
  </tr>
  <tr>
    <td>Bedroom</td>
    <td><%= @user["user"]["bedroom_mult"] %></td>
  </tr>
  <tr>
    <td>Seating</td>
    <td><%= @user["user"]["seating_mult"] %></td>
  </tr>
  <tr>
    <td>Dining</td>
    <td><%= @user["user"]["dining_mult"] %></td>
  </tr>
</table>

<h3>Customer Product Emails:</h3>
<table class="table table-bordered">
  <tr>
    <th>Customer Email</th>
    <th>Product</th>
  </tr>
  <% @user["emails"].each do |email| %>
    <tr>
      <td><%= email["email_address"] %></td>
      <td><%= link_to("/products/#{email['product_id']}") do %><%= email["product_number"] %><% end %></td>
    </tr>
  <% end %>
</table>
