<% content_for(:back_location) do %>
  <%= link_to products_path(category: @category, page: @page) do %>
    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
  <% end %>
<% end %>
<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-lg-8">
    <img src="<%= @product.image%>" alt="Homelegance <%= @product.number %>" class="img-responsive" style="margin: 0 auto;">
  </div>
  <div class="col-lg-4">
    <h1><%= @product.name %></h1>
    <h3>Product Number: <%= @product.number %></h3>
    <p><%= @product.description %></p>
    <hr>
    <%= render "emails/form", email: Email.new() %>
  </div>
  <div class="clearfix"></div>
</div>
<div class="row">
  <div class="col-lg-8 item-pick">
    <h2 class="text-center">Pick Your Items</h2>
    <%= form_tag("/products/#{@product.number}", method: "get", remote: true) do |f| %>
    <table>
      <tr>
        <th>Item Description</th>
        <th>Dimensions</th>
        <th>Price</th>
        <th></th>
      </tr>
      <% @product.product_items.each do |item| %>
      <tr>
        <td><%= item["description"] %></td>
        <td><%= item["dimensions"] %></td>
        <td>$<%= item["price"].to_i %></td>
        <td>
          <div class="input-field col s12">
            <%= select_tag item["number"], options_for_select([[0,0],[1,1],[2,2],[3,3],[4,4],[5,5],[6,6],[7,7],[8,8]]) %>
          </div>
          <%= hidden_field_tag :sum , true %>
          <%= hidden_field_tag :current_total , @sum %>
        </td>
      </tr>
      <% end %>
    </table>
    <%= submit_tag 'Submit', class:'btn btn-default', style: 'float:right;' %>
    <% end %>
  </div>
  <div class="col-lg-4">
    <h2 id="total">Total: $<%= @sum %></h2>
  </div>
</div>
