<!DOCTYPE html>
<html>
  <head>
    <title>AgaFrontend</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet">
  </head>

  <body>
    <header>
      <%= yield(:back_location) %>
      <%= link_to '/' do %>
        <% if @category %>
          <h1 class="text-center">Browse <%= @category.capitalize %></h1>
        <% else %>
          <h1 class="text-center">Browse Furniture</h1>
        <% end %>
      <% end %>
      <ul style="list-style: none">
        <li style="display: inline-block; padding: 10px;">
          <%= link_to "/dining/1" do %>Dining<% end %>
        </li>
        <li style="display: inline-block; padding: 10px;">
          <%= link_to "/bedroom/1" do %>Bedroom<% end %>
        </li>
        <li style="display: inline-block; padding: 10px;">
          <%= link_to "/seating/1" do %>Seating<% end %>
        </li>
      </ul>
    </header>
    <div class="container">
      <%= yield %>
      <p style="position: absolute; z-index: 100;"><%= link_to "Logout", user_path(1), method: "delete" %></p>
    </div>
  </body>
</html>
